/* css for login page */
*{
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
}
/* body{
    
} */
.container{
    padding-left: 120px;
    height: 720px;
    width: 1560px;
    display: flex;
    padding-top:80px ;
}
.firstpage-img{
    margin: auto;
    width: 576px;
    height: 576px;
    box-shadow: 0px 4px 31px #0000000A;
    border: 20px solid #FFFFFF;
    opacity: 1;
    border-radius: 50%;
}
.firstpage-img img{
    border-radius: 50%;
}
.right-text{
    float: right;
    margin: auto;
}
.txt img{
    width: 272px;
    height: 58px;
}
.txt p{
    width: 600px;
    height: 100px;
    text-align: left;
    font: normal normal 300 40px/47px Arial;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}
.txt p span{
    width: 137px;
    height: 53px;
    text-align: left;
    font: normal normal 900 40px/53px Arial;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;
}
.login{
    display: flex;
    flex-direction: column;
}
.login p{
    width: 260px;
    height: 33px;
    text-align: left;
    font: normal normal normal 25px/33px Arial;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}
.login input[type="text"]{
    margin: 20px 0px;
    width: 429px;
    height: 49px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    padding: 0px 15px;
    font-size: 18px;
}
.login input[type="submit"]{
    width: 138px;
    height: 45px;
    background: #C8242F 0% 0% no-repeat padding-box;
    border-radius: 23px;
    border: none;

    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 18px;
}
.login .btn{
    width: 429px;  
}
.login .btn #fgt{
    flex: none;
    float: right;
    margin-top: 10px;
    font: normal normal normal 20px Arial;
    letter-spacing: 0px;
    color: #ADADAD;
    text-decoration: none;
}
.login p{
    width:100%;
    font: normal normal normal 20px Arial;
    letter-spacing: 0px;
    color: #ADADAD;
    text-decoration: none;
}
.login #reg{
    font: normal normal normal 20px Arial;
    letter-spacing: 0px;
    color:  #C8242F;;
    text-decoration: none;
}


/* css for dashboard */
.header-dash{
    display: flex;
    flex-direction: row;
    height: 40px;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.menu-bar{
    width: 18px;
    height: 12px;
    padding-left: 15px;
    background-color: #FFFFFF;
}
.header-logo{
    width: 142px;
    height: 30px;
    padding-left: 15px;
    background-color: #FFFFFF;
}
.search{
    padding-left: 15px;
    height: 25px;
    position: relative;
}
.search-icon{
    position: absolute;
    top:5px;
    left: 20px;
    z-index: 1;
    height: 20px;
    background-color: #FFFFFF;
}
.search-bar{
    height: 25px;
    width: 600px;
    padding: 5px 35px;
    border: none;
    font-size: 15px;
    background-color: #FFFFFF;
}
.noti-icon{
    width: 22px;
    height: 21px;
    padding:5px 15px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: 0px;
}
.profile{
    width: 44px;
    height: 44px;
    padding-left: 15px;
    background-color: #FFFFFF;
    margin-right: 0px;
}
.header-dash p{
    height: 21px;
    text-align: left;
    padding-left:15px;
    background-color: #FFFFFF;  
    margin-right: 0px;
}
.down-arrow{
    padding:15px 15px;
    background-color: #FFFFFF;
    margin-right: 0px;
}
main{
    display: flex;
    flex-direction: row;
}
nav{
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    width:242px;
    height: 100%;
}
nav ul{
    background-color: #FFFFFF;
    height: 100%;
    padding: 20px;
}
nav ul li{
    marker: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #FFFFFF;
}
nav img{
    width:20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 15px;
}
li p{
    padding-left: 10px;
    background-color: #FFFFFF;
}
.dash{
    color: #C8242F;
    background-color:#fff3f4;
}
.first-menu{
    background-color: #fff3f4;
    border-radius: 5px;
}
.main-contant{
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.first-row{
    display: flex;
    flex-direction: row;
}
.fr-contant{
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    margin: 5px;
    width:195px;
    background-color: #FFFFFF;
}
.fr-contant img{
    background-color: #FFFFFF;
    width: 33px;
}
.pro-details{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #FFFFFF;
}
.pro-details h3{
    margin-bottom: 2px;
    background-color: #FFFFFF;
}
.pro-details p{
    margin-top: 2px;
    background-color: #FFFFFF;
}
.second-row{
    display: flex;
    height: 400px;
}
.line-chart{
    width:700px;
    margin: 5px;
    padding: 10px;
    background-color: #FFFFFF;
}
.line-chart-head{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}
.line-chart-head div{
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    background-color: #FFFFFF;
}
.line-chart-head p{
    margin: 5px;
    height: 16px;
    color: #ADADAD;
    background-color: #FFFFFF;
}
.line-year{
    margin: 5px;
    height: 16px;
    color: #C8242F;
    text-decoration: underline;
    text-underline-offset: 5px;
    background-color: #FFFFFF;
}
.line-chart img{
    width:680px;
    background-color: #FFFFFF;
}
.pie-chart{
    width: 360px;
    margin: 5px;
    padding: 10px;
    background-color: #FFFFFF;
}
.pie-chart h3{
    background-color: #FFFFFF;
}
.pie-chart img{
    margin-left:55px;
    background-color: #FFFFFF;
}
.pie-legend div div{
    margin: 10px;
}
.pie-legend div p{
    height: 10px;
    margin: 5px;
}
.pie-legend {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns:auto auto;
    width: 360px;
}
.pie-legend div{
    display: flex;
}
.united{
    width:10px;
    height: 10px;
    background-color:#C8242F ;
    border-radius: 50%;
}
.canada{
    width:10px;
    height: 10px;
    background-color:#A2B86C ;
    border-radius: 50%;
}   
.russia{
    width:10px;
    height: 10px;
    background-color:#F16C20 ;
    border-radius: 50%;
}
.india{
    width:10px;
    height: 10px;
    background-color:#EBC844 ;
    border-radius: 50%;
}
.third-row-head{
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}
.third-row-head h1{
    background-color: #FFFFFF;
}
.third-row-head p{
    margin-left: auto;
    background-color: #FFFFFF;
    color:  #C8242F;
}
table{
    width: 100%;
    padding: 10px;
    background-color: #FFFFFF;
}
td{
    padding: 5px;
    background-color: #FFFFFF;
}
thead{
    letter-spacing: 1.5px;
    color: #ADADAD;
}
.paid{
    padding: 5px;
    background: #EBFFEF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #3CDD5F;
}
.failed{
    padding: 5px;
    color: #FF4545;
    background: #FFF5F5 0% 0% no-repeat padding-box;
    border-radius: 5px;
}
.pending{
    padding: 5px;
    color: #BABABA;
    background: #F8F8F8 0% 0% no-repeat padding-box;
    border-radius: 5px;
}
td{
    padding: 10px;
    border-bottom: 1px solid  #ADADAD;
}


/* css for inner page */
.inner{
    font-family: Arial, Helvetica, sans-serif;
}
.inner-head{
    margin: 40px;
}
.analysis{
    color: #C8242F;
    background-color:#fff3f4;
}
.second-menu{
    background-color: #fff3f4;
    border-radius: 5px;
}
.form-contant{
    margin: 40px;
}
.one-column h3{
    color: #3E3E3E;
}
.one-column input{
    width: 1100px;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    color:#ADADAD;
}
.one-column select{
    width: 1120px;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    color:#ADADAD;
}
.one-column textarea{
    width: 1100px;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    color:#ADADAD;
}
.two-column h3{
    color: #3E3E3E;
}
.two-column div{
    display: grid;
    grid-template-columns: auto auto;
}
.two-column input{
    padding: 5px;
    width: 530px;
    padding: 5px;
    margin-top: 15px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    color:#ADADAD;
}
.two-column select{
    width: 540px;
    padding: 5px;
    margin-top: 15px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    color:#ADADAD;
}
.three-column h3{
    color: #3E3E3E;
}
.three-column input{
    width: 345px;
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
}
.three-column input:disabled{
    border: 1px dashed;
}
.four-column h3{
    color: #3E3E3E;
}
.four-column input{
    width: 260px;
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
}
.four-column select{
    width: 260px;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
}
.other{
    color: #3E3E3E;
}
.file h4{
    color: #3E3E3E;
}
/* #file-upload{
    border: 1px solid #C8242F;
    border-radius: 18px;
    background:url(../images/cloud-upload-icon.svg) no repeat;
} */
.radio-btn h4{
    color: #3E3E3E;
}
.checkbox input:checked{
    background-color: #C8242F
}
.snackbar h4{
    color: #3E3E3E;
}
.snackbar div img{
    width: 20px;
}
.snackbar-contant{
    display: grid;
    grid-template-columns: auto auto;
}
.snackbar-contant div{
    margin: 10px;
}
.error{
    border: 1px solid #FF3535;
    border-radius: 5px;
    color:  #FF3535;
    height: 20px;
    padding: 5px;
}
.info{
    border: 1px solid #00B9E1;
    border-radius: 5px;
    color:  #00B9E1;
    height: 20px;
    padding: 5px;
}
.warn{
    border: 1px solid #FFA800;
    border-radius: 5px;
    color: #FFA800;
    height: 20px;
    padding: 5px;
}
.success{
    border: 1px solid #00AF27;
    border-radius: 5px;
    color:  #00AF27;
    height: 20px;
    padding: 5px;
}
.call h4{
    color: #3E3E3E;
}
.call input{
    margin: 10px;
}
#primary{
    width: 120px;
    height: 30px;
    background: #C8242F 0% 0% no-repeat padding-box;
    border-radius: 23px;
    border: none;

    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 18px;
}
#secondary{
    width: 120px;
    height: 30px;
    color: #C8242F;
    border-radius: 23px;
    border: 1px solid #C8242F;

    text-align: center;
    letter-spacing: 0px;
    font-size: 18px;
}
.tab h4{
    color: #3E3E3E;
}
.tab div{
    display: flex;
}
.tab div p{
    margin-right: 10px;
}
.tab div p span{
    text-decoration: underline;
    text-underline-offset:28px;
    color: #C8242F;
}